footer {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
}

footer h3 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 760px) {
  footer h3 {
    font-size: 2.3rem;
  }
}
